<a routerLink="/features" routerLinkActive="router-link-active">Features</a>
<a routerLink="/about-us" routerLinkActive="router-link-active">About us</a>
<a routerLink="/pricing" routerLinkActive="router-link-active">Pricing</a>
<a routerLink="/help-center" routerLinkActive="router-link-active"
  >Help Center</a
>
<a routerLink="/contact-us" routerLinkActive="router-link-active">Contact us</a>
<a routerLink="/faqs" routerLinkActive="router-link-active">FAQs</a>
<a routerLink="/careers" routerLinkActive="router-link-active">Careers</a>
