<a routerLink="/" routerLinkActive="router-link-active">Features</a>
<a routerLink="/routePath" routerLinkActive="router-link-active">About us</a>
<a routerLink="/routePath" routerLinkActive="router-link-active">Pricing</a>
<a routerLink="/routePath" routerLinkActive="router-link-active">Help Center</a>
<a routerLink="/routePath" routerLinkActive="router-link-active">Contact us</a>
<a routerLink="/routePath" routerLinkActive="router-link-active">FAQs</a>
<a routerLink="/routePath" routerLinkActive="router-link-active">Careers</a>
