@import "utilities";
@import "color-variable";

:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    color: $neutral-650;
    padding: 0 12px;
    &:hover {
        color: $primary-500;
    }
    &.router-link-active {
        background-color: $primary-500;
        color: white;
        border-radius: 18px;
        padding: 0 12px;
    }
}
